<div class="form-group">
	<label class="control-label col-sm-2">NHC</label>
	<div class="col-sm-4">
		<input type="text" class="form-control" placeholder="Nhc"
			ng-readonly="update" ng-model="paciente.nhc" required></input>
	</div>
	<label class="control-label col-sm-2">NIF</label>
	<div class="col-sm-4">
		<input type="text" class="form-control" placeholder="Nif"
			ng-model="paciente.nif"></input>
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-2">Nombre</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" placeholder="Nombre"
			ng-model="paciente.nombre" required></input>
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-2">Primer Apellido</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" placeholder="Primer apellido"
			ng-model="paciente.primerApellido" required></input>
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-2">Segundo Apellido</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" placeholder="Segundo apellido"
			ng-model="paciente.segundoApellido"></input>
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-2">Genero</label>
	<div class="col-sm-3">
		<select name="singleSelect" ng-model="paciente.genero">
			<option value="M">M</option>
			<option value="F">F</option>
		</select><br>
	</div>
	<label class="control-label col-sm-3">Fecha Nacimiento</label>
	<div class="col-sm-3">
		<input type="date" ng-model="paciente.fechaNacimiento">
	</div>
</div>


<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<input type="submit" class="btn btn-primary" value="Guardar" />
	</div>
</div>


<!-- <div class="form-group"> -->
<!-- 	<label for="nhc" class="col-sm-2 control-label">Nhc</label> -->
<!-- 	<div class="col-sm-10"> -->
<!-- 		<input type="text" ng-model="paciente.nhc" class="form-control" -->
<!-- 			id="nhc" placeholder="Nhc" /> -->
<!-- 	</div> -->
<!-- </div> -->
<!-- <div class="form-group"> -->
<!-- 	<label for="nombre" class="col-sm-2 control-label">Nombre</label> -->
<!-- 	<div class="col-sm-10"> -->
<!-- 		<input type="text" ng-model="paciente.nombre" class="form-control" -->
<!-- 			id="nombre" placeholder="Nombre" /> -->
<!-- 	</div> -->
<!-- </div> -->
<!-- <div class="form-group"> -->
<!-- 	<label for="primerApellido" class="col-sm-2 control-label">Primer -->
<!-- 		Apellido</label> -->
<!-- 	<div class="col-sm-10"> -->
<!-- 		<input type="text" ng-model="paciente.primerApellido" -->
<!-- 			class="form-control" id="primerApellido" -->
<!-- 			placeholder="Primer apellido" /> -->
<!-- 	</div> -->
<!-- </div> -->

<!-- <div class="form-group"> -->
<!-- 	<label for="plot" class="col-sm-2 control-label">Segundo -->
<!-- 		Apellido</label> -->
<!-- 	<div class="col-sm-10"> -->
<!-- 		<input type="text" ng-model="paciente.segundoApellido" -->
<!-- 			class="form-control" id="plot" placeholder="Segundo apellido" /> -->
<!-- 	</div> -->
<!-- </div> -->
