<h3>Detalle de {{paciente.nombre}}</h3>
<table class="table pacientetable">
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Nombre</td>
        <td>{{paciente.nombre}}</td>
    </tr>
    <tr>
        <td>Primer Apellido</td>
        <td>{{paciente.primerApellido}}</td>
    </tr>
    <tr>
        <td>Segundo Apellido</td>
        <td>{{paciente.segundoApellido}}</td>
    </tr>
    <tr>
        <td>Genero</td>
        <td>{{paciente.genero}}</td>
    </tr>
    <tr>
        <td>Fecha Nacimiento</td>
        <td>{{paciente.fechaNacimiento}}</td>
    </tr>
    <tr>
        <td>Nif</td>
        <td>{{paciente.nif}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editPaciente({id:paciente.nhc})">Editar</a>
</div>