<a ui-sref="newPaciente" class="btn-primary btn-lg nodecoration">Nuevo
	paciente</a>
<h3>Lista Pacientes</h3>
<table class="table pacientetable">
	<thead>
		<th>Nhc</th>
		<th>Nombre</th>
		<th>Primer Apellido</th>
		<th>Segundo Apellido</th>
		<th>Genero</th>
		<th>Fecha Nacimiento</th>
	</thead>
	<tbody>
		<tr ng-repeat="item in pacientes">
			<td>{{item.nhc}}</td>
			<td>{{item.nombre}}</td>
			<td>{{item.primerApellido}}</td>
			<td>{{item.segundoApellido}}</td>
			<td>{{item.genero}}</td>
			<td>{{item.fechaNacimiento}}</td>
			<td><a class="btn btn-primary"
				ui-sref="viewPaciente({id:item.nhc})">Ver</a></td>
			<td><a class="btn btn-danger" ng-click="deleteMovie(item)">Eliminar</a></td>
		</tr>
	</tbody>
</table>